@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Виникла помилка під час обробки вашого запиту.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Ідентифікатор запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перехід на <strong>Режим розробки</strong> відобразить більш детальну інформацію про помилку, яка сталася.
</p>
<p>
    <strong>Режим розробки не повинен бути увімкнений для розгорнутого застосунку.</strong>
    Це може призвести до відображення чутливої інформації з виключень кінцевим користувачам.
    Для локальної налагодження увімкніть <strong>Режим розробки</strong>, встановивши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>
    та перезапустіть додаток.
</p>